/* MarkListModal instructions panel styling */
.modal-instruction-el {
    padding: var(--size-4-2, 8px) var(--size-4-3, 12px);
    border-top: 1px solid var(--background-modifier-border);
    font-size: var(--font-ui-small, 0.95em);
    color: var(--text-muted);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-4-2, 0.5rem);
    background: var(--background-secondary);
    font-family: var(--font-default);
    line-height: var(--line-height-tight);
}

.modal-instruction-el span {
    margin-left: var(--size-4-3, 1rem);
    margin-right: var(--size-4-3, 1rem);
}

.marks-modal .suggestion-item {
    padding: var(--size-4-2, 0.5rem) var(--size-4-2, 0.5rem);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prompt-results > .suggestion-item  .mark-symbol {
    flex: 0 0 var(--size-4-5);
    text-align: center;
    margin-right: var(--size-4-3, 1em);
    font-family: var(--font-monospace);
    border-radius: var(--radius-s);
    background: var(--background-secondary-alt);
    width: var(--size-4-5);
    height: var(--size-4-5);
}

.prompt-results > .suggestion-item  .mark-file-path {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prompt-results > .suggestion-item  .harpoon-sign {
    flex: 0 0 var(--size-4-5);
    text-align: center;
    margin-left: var(--size-4-3, 1em);
    border-radius: var(--radius-s);
    border: 1px solid var(--background-modifier-border);
    background: var(--background-secondary-alt);
    font-family: var(--font-monospace);
    height: var(--size-4-5);
    width: var(--size-4-5);
}
    
